<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>미니게임 천국</title>
</head>
<body>
<header style="background-color: #f8f9fa; padding: 20px; text-align: center;">
    <h1>
        <a href="/" style="text-decoration: none; color: black;">🎮 미니게임 천국</a>
    </h1>
</header>